.bloks{
    color: #000000;
    margin-left: 18.8vw;
    font-size: 1.8vw;
    background-color: #555;
    border:0.3vw solid #3c3c3c;
    width: 45vw;
    height: 6vh;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    margin-top: 2vh;
    background-color: #383838;
    border: 0.2vw solid #444444;
    border-radius: 0.5vw;
    padding: 0.7vw;
    font-size: 1.5vw;
    line-height: 1.6;
}
#sub-panel-settings-stats-info p {
    color: #000000;
    font-size: 1.5vw;
    margin: 0vh;
}
.secblock{
    margin-top: 2vh;
}