#stats-upg{
    margin-top: -65vh;
    margin-left: 65vw;
    gap: 1vw;
}
#upgrades-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    align-items: center;
    margin-top: 2vh;
    width: 75%;
}
.upgrade-max{
    position: relative;
    width: 20vw;
    height: 19vh;
    border-radius: 0.2vw;
    transition: 0.25s;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000000;
}
.upgrade-max:hover {
    transform: scale(1.05);
}
.upgrade-max:active {
    transform: scale(0.95);
}
.Max {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5.5vw;
    height: 6vh;
    color: black;
    border-top: 0.3vw solid #444444;
    border-left: 0.3vw solid #444444;
    border-bottom: none;
    border-right: none;
    font-size: 1.8vw;
    font-weight: bold;
}
.Max:hover {
    color: black;
}
.Max:active {
    color: black;
}
.upgrade{
    color: #000000;
    width: 20.5vw;
    height: 20.1vh;
    font-size: 1.8vw;
    transition: 0.25s;
    border-radius: 0.2vw;
    font-weight: bold;
}
.upgrade:hover {
    transform: scale(1.05);
}
.upgrade:active {
    transform: scale(0.95);
}
.max-green{
    border-top: 0.3vw solid #2c7500;
    border-left: 0.3vw solid #2c7500;
    background-color: #49bb00;
}
.max-green:hover {
    background-color: #5ae101;
}
.max-green:active {
    background-color: #49bb00;
}
#btn-Up-1:has(.max-green:hover) {
    background-color: #49bb00;
}
.max-red{
    border-top: 0.3vw solid #880000;
    border-left: 0.3vw solid #880000;
    background-color: #ff2a2a;
}
.max-red:hover {
    background-color: #ff5151;
}
.max-red:active {
    background-color: #ff2a2a;
}
#btn-Up-3:has(.max-red:hover) {
    background-color: #ff2a2a;
}
.max-blue{
    border-top: 0.3vw solid #0033aa;
    border-left: 0.3vw solid #0033aa;
    background-color: #0270FF;
}
.max-blue:hover {
    background-color: #0296ff;
}
.max-blue:active {
    background-color: #0270FF;
}
#btn-Up-6:has(.max-blue:hover) {
    background-color: #0270FF;
}
.max-lblue{
    border-top: 0.3vw solid #0088cc;
    border-left: 0.3vw solid #0088cc;
    background-color: #05B8FF;
}
.max-lblue:hover {
    background-color: #07D5FF;
}
.max-lblue:active {
    background-color: #05B8FF;
}
#btn-Up-7:has(.max-lblue:hover) {
    background-color: #05B8FF;
}
#money-upg{
    font-size: 1.8vw;
    color: #49bb00;
}
#multiplier-upg{
    font-size: 1.8vw;
    color: #ff2a2a;
}
#rebirth-upg{
    font-size: 1.8vw;
    color: #0296ff;
}
#superRebirth-upg{
    font-size: 1.8vw;
    color: #05B8FF;
}
