/*=====(TŁO + CZCIONKA)=====*/
body {
    background-color: rgb(38 38 38);
    color: #ffffff;
    font-family: sans-serif;
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
}
#main-game-layout {
    display: grid;
    grid-template-columns: 1fr 12vw;
    gap: 1vw;
    height: 95vh;
    padding: 1vw;
    background-color: #2a2a2a;
}
#side-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    background-color: #383838;
    padding: 1vw;
    border-radius: 0.5vw;
}
.side-btn {
    height: 8vh;
    background-color: #555;
    color: black;
    font-family: sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    border: 0.2vw solid #3c3c3c;
    cursor: pointer;
    transition: 0.2s;
}
.sub-menu-bar {
    display: flex;
    gap: 0.5vw;
    background-color: #383838;
    padding: 0.8vw;
    border-radius: 0.5vw;
    margin-bottom: 1vh;
}
.sub-btn {
    height: 7vh;
    padding: 0 1.5vw;
    background-color: #555;
    color: black;
    font-family: sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    border: 0.2vw solid #3c3c3c;
    cursor: pointer;
    transition: 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.side-btn:hover, .sub-btn:hover {
    background-color: #666;
    border-color: #444;
    transform: scale(1.05);
}
.side-btn:active, .sub-btn:active {
    background-color: #555;
    border-color: #3c3c3c;
    transform: scale(0.95);
}
.active-main {
    background-color: #777 !important;
    border-color: #555 !important;
}
.active-sub {
    background-color: #777 !important;
    border-color: #555 !important;
}
#content-area {
    display: flex;
    flex-direction: column;
}

#game-play-space {
    flex-grow: 1;
    background-color: #222;
    border-radius: 0.5vw;
    padding: 1vw;
}